@tailwind base;
@tailwind components;
@tailwind utilities;

.custom-dark-bg {
  @apply bg-dark-custom;
}

.custom-teal-bg {
  @apply bg-teal-custom;
}

.custom-blue-bg {
  @apply bg-blue-custom;
}

.custom-red-bg {
  @apply bg-red-custom;
}
.custom-white-bg {
  @apply bg-gray-custom;
}
@font-face {
  font-family: "Tungsten";
  src: url("/public/Tungstenfont/Tungsten-Bold/Tungsten-Bold.ttf")
    format("truetype");
  font-style: normal;
}
