@font-face {
    font-family: 'Star Jedi Hollow';
    src: url("../../../public/Starwarsfont/@font-face/Starjhol.ttf")
}

.tituloFalopa {
    color: white;
    -webkit-text-stroke: 0.5px black;
    text-shadow: black 4px 4px 4px;
    font-family: 'Star Jedi Hollow';
}

